name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Permite clicar num botão para gerar manualmente

jobs:
  build:
    runs-on: ubuntu-latest # Usa Linux (Zero erros de pasta travada!)

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flet
        # Instala as dependências do frontend
        if [ -f frontend/requirements.txt ]; then pip install -r frontend/requirements.txt; fi

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0' # Versão estável

    - name: Flet Build APK
      run: |
        cd frontend
        # O Linux não precisa daquelas gambiarras manuais
        flet build apk --verbose

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: vigiaa-release
        path: frontend/build/apk/app-release.apk